// Footer
// ----------------------------------------------------------------------------

footer {
	background: $black;
	color: $white;
	.logo {
		max-width: 200px;
		img {
			display: block;
			width: 200px;
			max-width: 100%;
		}
	}
}
