html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

body {
	background: $white;
	position: relative;
	padding: 0;
	margin: 0;
	font-family: $roboto;
	color: $black;
	line-height: 1.5em;
}

%wrapper {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 2em;
	transition: padding 0.2s ease;

	// iPhone X padding
	.ios-safearea-exists & {
		@include mq-until(768px) {
			padding-left: env(safe-area-inset-left);
			padding-right: env(safe-area-inset-right);
		}
	}

	@include mq-at-least(1200px) {
		padding-left: 0;
		padding-right: 0;
	}
}

.hero {
	background: url(/assets/images/2021/hero.jpg) center center no-repeat;
	background-size: cover;
	color: $white;
}

.text-red {
	color: $clr-4;
}

.section {
	.uxok-box-shadow {
		box-shadow: 5px 5px 0 $clr-2;
		&.red {
			box-shadow: 5px 5px 0 darken($clr-4, 20%);
			background: $clr-4;
		}
		&.green {
			box-shadow: 5px 5px 0 darken($clr-3, 10%);
			background: $clr-3;
		}
		&.greener {
			box-shadow: 5px 5px 0 darken($clr-3, 50%);
		}
		&.lime {
			box-shadow: 5px 5px 0 $clr-3;
			background: lighten($clr-3, 30%);
		}
		&.yellow {
			box-shadow: 5px 5px 0 darken($clr-1, 15%);
			background: $clr-1
		}
	}
	&:nth-child(even) {
		background: rgb(243, 244, 246);
	}
}

.tito-wrapper {
	background: $white;
	margin-left: 0;
}

// .button-submit {
// 	cursor: pointer;
// }

// .spacer-line {
// 	border-bottom: 1px solid $blackLighter;
// 	width: 150px;
// 	display: inline-block;
// 	margin: .75em 0 0.5em;
// }

.black-shadow {
	box-shadow: 5px 5px 0 $blackLight;
}

.center-h-v {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
