// Header
// ----------------------------------------------------------------------------

// header {
// 	.logo {
// 		display: block;

// 		img {
// 			display: block;
// 			width: 200px;
// 			max-width: 100%;
// 		}
// 	}
// }

header {
	// border: 1px solid pink;
	// > div {
	// 	position: relative;
	// 	padding: 0.5rem 0;
	// 	// border: 1px solid purple;
	// }
	 nav {
		 label {
			 cursor: pointer;
		 }
		input {
			display: none;
			visibility: hidden;

		}
		input:checked + ul {
			display: block;
			@include mq-at-least(640px) {
				display: flex;
			}
		}
		ul {
			// border-top: 1px solid #999;
			z-index: -1;
			position: absolute;
			left: 0;
			padding: 1rem 1rem 1.5rem;
			width: calc(100% + 2rem);
			top: 100%;
			@include mq-at-least(640px) {
				border-top: 0;
				left: auto;
				top: auto;
				width: auto;
				position: static;
				display: flex;
				padding: 0;
			}
		}
		li {
			display: block;
			text-align: center;
			margin-bottom: 0.5em;
			&:last-child {
				margin-bottom: 0;
			}
			@include mq-at-least(640px) {
				margin-bottom: 0;
			}
		}
	}
}
