---
---
@charset "utf-8";
@import "bulma/bulma.sass";

.row {
    @extend .columns;
}

.has-content-centered {
    @extend .has-text-centered;
}

.has-content-vertically-centered {
    @extend .is-vcentered;
}

body {
    font-family: 'Roboto', sans-serif;
}

.hero-section {
    height: 80vh;
    background-image: url(/images/2021/call-for-speakers-phase-hero.jpg);
    background-position: 70% 10%;
    color: white;
}

.navigation-section a {
    color: black;
    @extend .is-size-4;
    @extend .has-text-weight-semibold;
}

.hero-section .row:first-child {
    height: 30vh;
}

.call-to-action-section {
    height: 30vh;
}

.sign-up-section {
    height: 40vh;
}

.footer-section {
    background-color: black;
    color: white;
}

.footer-section a {
    color: whitesmoke;
}