---
---
@charset "utf-8";
@import "bulma/bulma.sass";


$green: #00DC73;
$primary: $green;
$white: #FFFFFF;
$pink: #F73363;

.row {
    @extend .columns;
}

.has-content-centered {
    @extend .has-text-centered;
}

.has-content-vertically-centered {
    @extend .is-vcentered;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.campaign-section {
    background: $green;
    margin: 0;
    padding: 0;
    p {
      margin: 0;
      padding: 0;
    }
    a {
      display: inline-block;
    }
}

// .logo img {
//   max-width: 170px;
// }

.logo {
  display: block;
  height: 40px;
  max-width: 170px;

}

.button.primary {
  background-color: $pink;
  font-weight: bold;
  color: $white;
}

.navigation-section a {
    // color: black;
    // @extend .is-size-5;
    // @extend .has-text-weight-bold;
}

.control {
  display: flex;
  align-items: center;
}

.button.is-primary {
  background: $green;
  &:hover {
    background: darken($green, 5%);
  }
}

// .control a {
//   background: $green;
//   border-radius: 0.5rem;
//   color: $white;
// }

.hero-section {
    height: 80vh;
    background-image: url(/images/2021/call-for-speakers-phase-hero.jpg);
    background-position: 70% 10%;
    color: white;
    display: flex;
    align-items: center;
}

.lh1 {
    line-height: 1em;
}

// .hero-section .row:first-child {
//     height: 30vh;
// }

// .call-to-action-section {
//     height: 30vh;
// }

.mw800 {
  max-width: 800px;
}

.sign-up-section {
    // height: 40vh;
}

.code-of-conduct-section {

}

footer {
  .navbar {
    background: none;
  }
}

.footer-logo {
  max-width: 200px;
}

.footer-section {
    background-color: black;
    // color: white;
}

// .footer-section a {
//     color: whitesmoke;
// }

// .ul-reset {
//   margin: 0;
//   padding: 0;
//   li {
//     display: inline-block;
//     margin-left: 1em;
//   }
// }

// cell phone queries
@media (max-width: 720px) {
    .navigation-section a {
        color: black;
    }

    .hero-section {
        height: 80vh;
        background-image: url(/images/2021/call-for-speakers-phase-hero.jpg);
        background-position: 70% 10%;
        color: white;
    }

    .code-of-conduct-section {

    }

    .footer-section {
        background-color: black;
        // color: white;
    }

    // .footer-section a {
    //     color: whitesmoke;
    // }
}
